@import url("./reset.css");
@import url("./header.css");
@import url("./modal.css");
@import url("./hero.css");
body {
  min-height: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  /*width: 100%;
    margin: 0 auto;*/
  /* display: flex;
  flex-direction: column;*/
  /* position: relative; */
  overflow-x: hidden;
}
.container {
  padding: 0 20px;
  max-width: 375px;
  height: 100%;
}
.hero {
  background-image: url("../img/Graphic-mob.png");
}
/* @media (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: url("../img/Graphics@2x.png");
  }
} */
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 768px;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    margin: 0 auto;
    padding: 0 100px;
    max-width: 1280px;
    height: 100%;
  }
}
